.App {
  text-align: center;
}

.App-header {
  height: 90px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.Result {

}

.Logo {
  width: 4em;
  float: left;
}


ul {
  list-style-type: none;
}

.Search-input {
  width: 100%;
  max-width: 70%;
  height: 1em;
  font-size: larger;
  margin: 1em;
  padding: 1em;
}

.Footer {
  position: fixed;
  bottom: 1em;
  text-align: center;
  width: 100%;
}

.Copy-field {
  width: 100%;
  max-width: 70%;
  font-size: larger;
}

.Image-preview {
  max-height: 20em;
}

.Image-main {
  max-height: 50em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
